<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hotel?useSSL=false</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.temp.use._jdbc_metadata_defaults">true</property>

        <mapping class="com.senla.model.entities.Guest"/>
        <mapping class="com.senla.model.entities.Room"/>
        <mapping class="com.senla.model.entities.Maintenance"/>
        <mapping class="com.senla.model.entities.Order"/>
    </session-factory>
</hibernate-configuration>